*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    /* background-color: #272822; */
    color: white;
    height: 90px;
    font-size: 35px;
}

.content{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.container{
    /* background-color: lightgray; */
    width: 60vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: rgb(34, 34, 34);
    position: sticky;
}

.logo{
    padding: 0 20px;
}

.logo img{
    width: 75px;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white 1 !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 15px !important;
    font-weight: bold;
}

.dynamic-txts li
{
    list-style: none;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    /* top: 0; */
    animation: slide 2s steps() infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
    }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 40px;
    overflow: hidden;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    border-left: 2px solid #afb2b4;
    animation: typing 5s steps(33) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

 