
@media only screen and (max-width: 320px) {
    .container{
    /* background-color: lightgray; */
    width: 75vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: rgb(34, 34, 34);
    position: sticky;
    }
    
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(54, 54, 54);
        /* background-color: #272822; */
        color: white;
        height: 80px;
        font-size: 22px;
    }

    .logo img{
        width: 63px;
        position: sticky;
        top: 0;
        cursor: pointer;
    }
}   