*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    /* background-color: #272822; */
    color: white;
    height: 90px;
    font-size: 35px;
}

.content{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.container{
    /* background-color: lightgray; */
    width: 60vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: rgb(34, 34, 34);
    position: sticky;
}

.logo{
    padding: 0 20px;
}

.logo img{
    width: 75px;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white 1 !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 15px !important;
    font-weight: bold;
}